:root{
    --blue:#1c73ff;
    --white: #fff;
    --black: #000;
}

body{
    background-color: var(--blue); /*cor de fundo da página a azul*/
    font-family: 'Roboto', sans-serif; /*tipo de letra Roboto, ou, se indisponível, sans-serif*/
    color: var(--white); /*cor do texto a branco*/
}

.nav-link{
    /*color: var(--white);        USANDO PROPRIEDADE DO ROOT  */
    color: white !important;           /*  USANDO COR DO CSS           */
}

.nav-link:hover{
    color:black !important;
}

.active{
    text-decoration: underline;
}

.card img { height:200px; }
.card { color: var(--black); }