:root{
    --blue:#1c73ff;
    --white: #fff;
    --black: #000;
}

body{
    background-color: var(--blue); /*cor de fundo da página a azul*/
    font-family: 'Roboto', sans-serif; /*tipo de letra Roboto, ou, se indisponível, sans-serif*/
    color: var(--white); /*cor do texto a branco*/
}

/*------------------------ NAV ---------------------*/
.nav-link{
    /*color: var(--white);        USANDO PROPRIEDADE DO ROOT  */
    color: white !important;           /*  USANDO COR DO CSS           */
}

.nav-link:hover{
    color:black !important;
}

.active{
    text-decoration: underline;
}
/*------------------------ CARDS ---------------------*/
.card img { 
    height:200px; 
}
.card { 
    color: var(--black); 
}

/*------------------------ CAROUSEL ---------------------*/
.carousel .carousel-item { 
    height: 500px; 
}
.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}